# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
smiles_env/

# Ignore log files
conversion.log

# Ignore dataset files
*.csv
*.json
*.sdf

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
*.env
